<!--Infolinks script | Working-->
<script type="text/javascript">
    var infolinks_pid = 3211351;
    var infolinks_wsid = 0;
</script>
<script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script rel="preconnect" async src="https://www.googletagmanager.com/gtag/js?id=UA-146647335-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-146647335-1');
</script>